<script>
  $(document).ready(function() {
  $("h7").on("click", function() {
  $("#facebook").slideToggle();
  });
  });
</script>
<div class="label">
    <h3 class= "container">Listing investments</h1>
</div>
<section class="container">
  <table class= "sortable">
    <caption>Table Name</caption>
    <thead>
      <tr>
        <th>Funding Round </th>
        <th>Company Being Funded</th>
        <th>Type</th>
        <th>Investor</th>
      </tr>
    </thead>
    <tbody>
      <% Investment.limit(100).each do |investment| %>
      <% if investment.investable==nil %>
      <% next %>
      <% end %>
      <tr id="<%= investment.funding.company.perma %>">
        <td><%= Funding.find_by_id(investment.investable).company.name%></td>
        <td><%#= link_to investment.funding.company.name, investment.funding.company %></td>
        <td><%#= investment.investable_type %></td>
        <td><%#= link_to investment.investable.perma, investment.investable %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br />
</section>
