<div class="label">
    <h3 class= "container">Listing investments</h1>
</div>



<table class= "sortable">
  <tr>
    <th>Funding Round </th>
    <th>Company Being Funded</th>
    <th>Type</th>
    <th>Investor</th>
  </tr>

<% @investments.each do |investment| %>
    <% if investment.investable==nil %>
        <% next %>
    <% end %>
  <tr>
    <td><%= Funding.find_by_id(investment.funding_id).funding_code %></td>
    <td><%= investment.funding.company.name %></td>
    <td><%= investment.investable_type %></td>
    <td><%= investment.investable.perma %></td>
  </tr>
<% end %>
</table>
<br />
