<% industry_array= Array.new %>
<% a = Funding.ltm_fundings(365).multiple_funding_codes('seed','angel') %>
<% total_funding = a.sum(:funding_amount) %>

<% Industry.order('name ASC').each do |industry| %>
    <% industry_name = industry.name.titleize %>
    <% percent = a.for_industry(industry.id).sum(:funding_amount) / total_funding %>
    <% if percent == 0 || percent.nan? %>
    <% else %>
    <% industry_array << {label: industry_name , value: (percent*100).round(0) } %>
    <% end %>
<% end %>

<% j_industry_array = industry_array.to_json %>

<div id="angel_industry_funding", class="right"></div>
<div class="clearfix"></div>
<script type="text/javascript">

  Morris.Donut({
    element: 'angel_industry_funding',
    colors: [
    '#0BA462',
    '#39B580',
    '#67C69D',
    '#95D7BB'
    ],
    data:
      <%= raw(j_industry_array) %>,
    formatter: function (x) { return x + "%" }
  });

</script>
