<% dates = Array.new  %>
<% data_array = Array.new %>
<% current_date = Date.today %>

<% 12.times do %>
  <% new_date = current_date.prev_month %>
  <% dates << new_date %>
  <% current_date = new_date %>
<% end  %>

<% dates.each do |d| %>
  <% data_array << { a: (Funding.monthly_fundings(d).for_industry(97).sum(:funding_amount)/1000000).round(0), y: d.strftime("%b%y")} %>
<% end %>

<% j_data_array = data_array.to_json %>

<div id="funding-bar", class="right"></div>
<div class="clearfix"></div>

<script type="text/javascript">
Morris.Bar({
  element: 'funding-bar',
  data:
      <%= raw(j_data_array) %>,
      axes: false,
      grid: false,
  xkey: 'y',
  ykeys: ['a'],
  labels: ['Funding'],
  barColors: ['#377D3C', '#228B22', '#32CD32'],
  hoverCallback: function (index, options, content) {
        var row = options.data[index];
        return row.y + ":" + " $" + row.a.toFixed(0) + "*"
      }
});
</script>
