    <section id="banner_1">
      <div class="container">
        <div class="prefix_1 grid_16 suffix_1 banner_text">
          <h2>Providing the data you want without the clutter you don't.</h2>
          <p>A simple search engine for start-ups, investors and those who just want to know.</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </section>
    <section class="container group">
      <nav class="section_nav">
        <a href=<%=individuals_url%>>
          <img src="assets/lightning.png">
          <h3><span class="bling">ANGEL</span></h3>
          <p>Listings</p>
        </a>
        <a href=<%=companies_url%>>
          <img src="assets/pie_chart.png">
          <h3><span class="bling">COMPANY</span></h3>
          <p>Listings</p>
        </a>
        <a href=<%=financials_url%>>
          <img src="assets/power.png">
          <h3><span class="bling">VC</span></h3>
          <p>Listings</p>
        </a>
      </nav>
    </section>
    <div id="banner_2">
      <div class="container">
        <div class="banner_text_left">
          <h2>Facebook Raising Big <span class="bling">MONEY</span></h2>
          <p>You can also put more stuff here. Fill in the blanks as you see fit. Let's make this box a little bigger because it looks nicer when its a bit bigger so I need to fill it in with some more text.</p>
          <a href="company_show.html">Learn More</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
