<div class="label">
    <h3 class= "container">Home</h1>
</div>
<section id="banner_1">
  <div class="container">
    <div class="push_10 prefix_1 grid_12 suffix_1 banner_text">
      <h2>Startup Funding Statistics</h2>
      <p>CrunchStats is a statistical dashboard providing realtime
      information compliled from Crunchbase on startup funding, angel investing, venture capital and everything in-between</p>
      <br>
      <p>&nbsp;</p>
    </div>
  </div>
</section>
<div class="section_nav_wrap">
  <section class="container">
    <!-- <h3 class="center">Statistics On Everything:</h3> -->
    <nav class="section_nav">
      <a href=<%=individuals_url%>>
        <img src="assets/wing.svg">
        <h4>ANGEL INVESTING</h4>
      </a>
      <a href=<%= fundings_url %>>
        <img src="assets/rocket.svg">
        <h4>STARTUP FUNDING</h4>
      </a>
      <a href=<%= locations_url %>>
        <img src="assets/us_map.svg">
        <br>
        <h4>GEOGRAPHIC BREAKDOWN</h4>
      </a>
    </nav>
  </section>
</div>
<!-- <section id="banner_2">
  <div class="container">
    <div class="prefix_1 grid_16 suffix_1 banner_text">
      <h2>Facebook Raising Big MONEY</h2>
      <p>You can also put more stuff here. Fill in the blanks as you see fit. Let's make this box a little bigger because it looks nicer when its a bit bigger sneed to fill it in with some more text.</p>
      <a href="company_show.html">Learn More</a>
    </div>
  </div>
</section> -->
