<div class="label">
    <h3 class= "container">Listing companies</h1>
</div>
<section class="container">
  <!-- TODO - Need to add a scope for investments to find company id through funding.  E.g code that doesnt work but needs similar logic:  unless Investment.where(Funding.find_by_id(funding_id).company_id: @company.id) -->
  <table class= "sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Investments</th>
        <th>Industry</th>
      </tr>
    </thead>
    <% @companies.each do |company| %>
    <tbody>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td class="currency"><%= number_to_currency(company.total_investments, unit: "$") %></td>
        <td><%= link_to Industry.find_by_id(company.industry_id).name, Industry.find_by_id(company.industry_id)%></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <br />
</section>
