<div class="label">
    <h3 class= "container">Listing financials</h1>
</div>

<table class= "sortable">
  <tr>
    <th>Name</th>
    <th>Total Investments</th>
    <th>Number of Investments</th>
  </tr>

<% @financials.each do |financial| %>
  <tr>
    <td><%= link_to financial.name, financial %></td>
    <td><%= number_to_currency(financial.total_investments, unit: "$") %></td>
    <td><%= financial.num_of_investments %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Financial', new_financial_path %>
