<table class= "sortable">
<% company_array=[] %>
<% fcode_array=[] %>
<% industry_array=[] %>
<% a = Funding.annual_fundings(2011) %>
<% total_funding = a.sum('funding_amount') %>

  <tr>
    <th> Industry </th>
    <th> % Total Funding </th>
  </tr>

<% Industry.order('name ASC').each do |industry| %>
  <tr>
    <td><%= industry.name.titleize %></td>
    <td><%= a.for_industry(industry.id).sum('funding_amount') / total_funding %>  </td>
  </tr>

<% end %>
</table>



  <% industry_array<<{label: f.company.name, value: f.funding_amount } %>
  <% fcode_array<<{label: f.funding_code, value: f.funding_amount } %>
  <% industry_array<<{label: f.company.industry.name, value: f.funding_amount } %>
<% end %>
</table>

<% j_company_array=company_array.to_json %>
<% j_fcode_array=fcode_array.to_json %>
<% j_industry_array=industry_array.to_json %>

<div id="company_funding", class="left"></div>
<div id="fcode_funding", class="left"></div>
<div id="industry_funding", class="left"></div>
<div class="clearfix"></div>

<script type="text/javascript">
Morris.Donut({
  element: 'company_funding',
  data:
    <%= raw(j_company_array) %>
});
</script>
