<p id="notice"><%= notice %></p>



<% dates = Array.new  %>
<% data_array = Array.new %>
<% today = Date.today %>
<% 12.times do |i| %>
  <% new_date = today.prev_month %>
  <% dates << new_date %>
  <% today = new_date %>
<% end  %>
<% dates.sort! {|a,b| b <=> a } %>

<%= dates.inspect %>
<%= m1 = Funding.monthly_fundings( Date.today ).sum(:funding_amount) %>




