<% industry_array= Array.new %>

<% total_funding = fundings.sum('funding_amount') %>

<% Industry.order('name ASC').each do |industry| %>
    <% industry_name = industry.name.titleize %>
    <% percent = fundings.for_industry(industry.id).sum('funding_amount') / total_funding %>
    <% if percent==0||percent.nan? %>
    <% else %>
    <% industry_array << {label: industry_name , value: (percent*100).round(0) } %>
    <% end %>

<% end %>

<% j_industry_array = industry_array.to_json %>

<div id="industry_location_funding", class="right"></div>
<div class="clearfix"></div>
<script type="text/javascript">

  Morris.Donut({
    element: 'industry_location_funding',
    data:
      <%= raw(j_industry_array) %>,
    backgroundColor: '#ccc',
    labelColor: '#060',
    colors: [
    '#0BA462',
    '#39B580',
    '#67C69D',
    '#95D7BB'
    ],
    formatter: function (x) { return x + "%" }
  });

</script>
